uploads/
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/www.iml
js/fileUploader/directive/dragAndDrop.min.js
js/fileUploader/directive/uploadeImageThumb.min.js
js/main.min.js
