<!DOCTYPE html>

<html ng-app="app" lang="en" id="ng-app">
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <title></title>
</head>
<body ng-controller="uploadeController">

<div id="wrapper">
    <div class="uplodes">
        <div data-drop-zone id="dropZone" ng-show="uploader.isHtml5">
            <div ng-repeat="item in uploader.queue" class="dropPreview" data-drag-sort>
                <div ng-show="uploader.isHtml5" data-image-thumb="item.file" class="thumbs" data-width="100"></div>
                {{item.file.name}}
            </div>
        </div>
        <input type="file" data-uploade-source="flash"/>
        <div id="all">{{uploader.allUploded}}</div>

        <div class="uplode_list">
            <table>
                <tr ng-repeat="item in uploader.queue">
                    <td class="uplode-item">
                        <div ng-show="uploader.isHtml5" data-image-thumb="item.file" class="thumbs" data-width="100"></div>
                        {{item.file.name}}
                    </td>
                    <td ng-show="item.file.size">{{item.mbSize}} мб.</td>
                    <td ng-show="uploader.isHtml5">
                        <div class="progress-bar">
                            <span style="width: {{item.progress}}%"></span>
                        </div>
                    </td>
                    <td>
                        <span class="{{item.isUploaded ? 'good fa fa-check fa-2x' : 'loading'}}"></span>
                    </td>
                    <td>
                        <b ng-click="item.remove()" class="fa fa-times-circle fa-2x pointer"></b>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-repeat="error in uploader.errors track by $index">
            {{error}}
        </div>
        <div ng-repeat="item in uploader.errorQueue">
            {{item.file.name}} - {{item.error}}
        </div>
    </div>
</div>

<script type="text/javascript" src="js/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="js/libs/swfupload/swfupload.js"></script>
<script type="text/javascript" src="js/libs/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="js/fileUploader/fileUploader.js"></script>
<script type="text/javascript" src="js/fileUploader/directive/uploadeImageThumb.js"></script>
<script type="text/javascript" src="js/fileUploader/directive/dragAndDrop.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</footer>
</body>
</html>
